body {
    min-width: 960px;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #000 url("../img/index-bg.jpg") no-repeat center top;
 }   

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

.main-header {
    margin-bottom: 55px;
    background: #000;
    color: #fff;
    outline: 2px solid #f00;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    outline: 2px solid #0f0;
}

.main-navigation {
    min-height: 70px;
    width: 640px;
    float: left;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;
    color: #fff;
    text-decoration: none;
}

.main-navigation a:hover {
    background: #242424
}

.user-block {
    min-height: 70px;
    max-width: 140px;
    float: right;
}

.login {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 25px 20px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}

.login::before {
    position: absolute;
    content: '';
    top: 27px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: transparent url("../img/icon-login.png") no-repeat center;
    opacity: .3;
}

.login:hover {
    background: #242424;
}

.login:hover::before {
    opacity: 1;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/*/////*/
/*index*/
/*/////*/

/*main*/

.img-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.img-logo img {
    width: 368px;
    height: 204px;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    width: 300px;
    float: left;
    margin-right: 20px;
    text-align: center;
}

.features-item:last-child {
    margin-right: 0;
}

.features-title {
    display: block;
    position: relative;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 35px;
    margin-bottom: 30px;
}

.features-title::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px; 
    width: 20px;
    height: 20px;
    background: #fff; 
    transform: rotate(45deg);
}

.features-item p {
    margin: 0 10px 0;
}

.content-block {
    padding: 50px 80px;
    margin-bottom: 35px;
    background:
        url("../img/content-shadow.png") no-repeat center, 
        #f9f6f3 url("../img/content-texture.png") center;
    color: #000;
}

.content-block-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 42px;
}

.content-block p {
    margin: 0;
    margin-bottom: 25px;
}

.content-block-left {
    width: 380px;
    float: left;
}

.content-block-right {
    width: 300px;
    float: right;
}

.news-preview {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-right: 35px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview time {
    text-transform: none;
    font-weight: normal;
}

.btn {
    display: inline-block;
    padding: 10px 35px;
    margin-right: 16px; 
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    background: #000;
}

.btn:hover,
.btn:active {
    background: #663d15;
} 

.btn:disabled, 
.btn.disabled {
    opacity: 0.5;
    cursor: default;
}

.btn:disabled:hover,
.btn.disabled:hover {
    background: #000;
}

.gallery {
    position: relative;
    height: 262px;
}

.gallery figure {
    margin: 0;
    background-color: #ccc; 
    border: 7px solid #fff;
    height: 164px;
}

.gallery img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery .gallery-prev {
    left: 0;
}

.gallery .gallery-next {
    right: 0;
}

.appointment-form input {
    float: left;
    padding: 7px 15px;
    margin-right: 20px;
    margin-bottom: 20px; 
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000;
    outline: none;
    width: 106px;
}

.appointment-form input:nth-child(2n) {
    margin: 0;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.order-submit {
    width: 100%;
    clear: both;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    outline: 2px solid #00f;
}


/*footer*/

.main-footer {
    background: #222 url("../img/footer-texture.png") center; 
    color: #fff;
}

.footer-contacts {
    min-height: 130px;
    width: 320px;
    float: left;
    margin-right: 60px;
}

.footer-contacts a {
    color: #fff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    min-height: 130px;
    width: 180px;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.footer-social p {
    margin-bottom: 15px;
}

.footer-social a {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    vertical-align: top;
    text-decoration: none;
    font-size: 0;
    transition: 
        color 0.5s,
        background-color 0.5s;
}

.social-btn-vk {
    background: #000 url("../img/icon-vk.png") no-repeat center;
}

.social-btn-vk:hover {
    background: #fff url("../img/icon-vk-hover.png") no-repeat center;
}

.social-btn-fb {
    background: #000 url("../img/icon-fb.png") no-repeat center;
}

.social-btn-fb:hover {
    background: #fff url("../img/icon-fb-hover.png") no-repeat center;
}

.social-btn-inst {
    background: #000 url("../img/icon-inst.png") no-repeat center;
}

.social-btn-inst:hover {
    background: #fff url("../img/icon-inst-hover.png") no-repeat center;
}

.footer-copyright {
    min-height: 130px;
    max-width: 180px;
    float: right;
    text-align: center;
}

.footer-copyright p {
    margin-bottom: 15px;
}

.footer-copyright .btn {
    margin: 0;
    transition: 
        color 0.5s,
        background-color 0.5s;
}

.footer-copyright .btn:hover, 
.footer-copyright .btn:active {
    background-color: #fff;
    color: #000; 
}

/*///////*/
/*catalog*/
/*///////*/

/*grid*/

.page-title {
    min-height: 35px;
    margin-bottom: 25px;
    outline: 2px solid #ccc;
}

.breadcrumbs {
    height: 20px;
    margin-bottom: 55px;
    outline: 2px solid #ccc;
}

.filters {
    width: 220px;
    float: left;
    outline: 2px solid #ccc;
}

.filter-title {
    margin-bottom: 35px;
}

fieldset {
    margin-bottom: 55px;
}

.btn-show {
    margin-bottom: 25px;
}

.item-list {
    width: 700px;
    float: right;
    outline: 2px solid #ccc;
    font-size: 0px;
}

.item {
    display: inline-block;
    width: 220px;
    min-height: 285px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    outline: 2px solid #ccc;
    
}

.item:nth-child(3n) {
    margin-right: 0px;
}

.item .item-type{
    text-transform: none;
}

.paginator {
    min-width: 195px;
    height: 43px;
    font-size: 14px;
    margin-top: 45px;
    margin-bottom: 50px;
    outline: 2px solid #ccc;
}

.btn-page {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-right: 7px;
    outline: 2px solid #ccc;
}


/*////*/
/*item*/
/*////*/

/*grid*/

.item-images {
    float: left;
    width: 460px;
    min-height: 670px;
    outline: 2px solid #ccc;
}

.main-image {
    width: 460;
    height: 500;
    margin: 0;
    margin-bottom: 20px;
}

.item-thumbnails {
    width: 460px;
    min-height: 150px;
    font-size: 0px;
    outline: 2px solid #ccc;
}

.thumbnail {
    display: inline-block;
    margin: 0;
    margin-right: 20px;
    outline: 2px solid #ccc;
}

.thumbnail:last-child {
    margin-right: 0px;
}

.item-info {
    float: right;
    width: 390px;
    padding-top: 25px;

    outline: 2px solid #ccc;
}

.status {
    margin-bottom: 45px;
    outline: 2px solid #ccc;
}

.availability {
    float: left;
}

.item-number {
    float: right;
}

.item-info p {
    margin-bottom: 40px;
    outline: 2px solid #ccc;
}

.price-block {
    height: 43px;
    width: 185px;
    margin-bottom: 65px;
    outline: 2px solid #ccc;
}

.kit-info {
    margin-bottom: 40px;
    outline: 2px solid #ccc;
}


/*//////////*/
/*price-list*/
/*//////////*/

/*grid*/

.page-title span {
    display: block;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 70px;
    width: auto;
    outline: 2px solid #ccc;
}

.block-title {
    margin-bottom: 40px;
    width: 240px;
    text-align: left;
    outline: 2px solid #ccc;
}

.price-list-right p,
.price-list-left p {
    width: 380px;
    outline: 2px solid #ccc;
}

.price-list-left {
    float: left;
    width: 380px;
    outline: 2px solid #ccc;
}

.price-list-left ul {
    margin-bottom: 65px;
    outline: 2px solid #ccc;
}

.price-list-right {
    float: right;
    width: 460px;
    outline: 2px solid #ccc;
}

.price-list-right table {
    width: 460px;
    caption-side: left;
    margin-bottom: 125px;
}

/*decoration*/

.page-title span::before,
.page-title span::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 3px;
    background-color: #000;
}

.page-title span::before {
    margin-right: 20px;
}

.page-title span::after {
    margin-left: 20px;
}